/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #321d48, #000206);
  background-image: url(tomato.png);
}

/* Login Box */
.login-container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

.login-box {
  background: #ffffff61;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0px 6px 20px rgba(0,0,0,0.2);
  text-align: center;
}

.login-box h1 {
  margin-bottom: 25px;
  font-size: 2rem;
  color: #333;
}
.submit button{
    height: 40px;
    width: 90px;
    border-radius: 20px;
    border: none;
    color: white;
    background: linear-gradient(135deg, #321d48, #011847) ;
}
.submit button:hover{
    transform: scale(1.3);
    box-shadow: #011847 0px 5px 5px;
}

/* Input Fields */
.input-group {
  text-align: left;
  margin-bottom: 20px;
}

.input-group label {
  font-weight: bold;
  font-size: 0.9rem;
  color: #333;
  display: block;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: border 0.3s;
}

.input-group input:focus {
  border-color: #2575fc;
  box-shadow: 0px 0px 5px rgba(37,117,252,0.5);
}

/* Button */
.btn {
  width: 100%;
  padding: 12px;
  background: #2575fc;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: #1a5fd6;
}

/* Signup Link */
.signup-text {
  margin-top: 15px;
  font-size: 0.9rem;
  color: #555;
}

.signup-text a {
  color: #2575fc;
  text-decoration: none;
  font-weight: bold;
}

.signup-text a:hover {
  text-decoration: underline;
}
